database:
  hostname: localhost
  port: 5432
  dbname: ***REMOVED***
  user: username
  password: password

rabbitmq:
  hostname: ***REMOVED***
  port: 31052
  user: ***REMOVED***
  password: ***REMOVED***
  queue: roomdata

debug: false